@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.km-left {
  font-size: 50px;
}

.km-current {
  font-size: 50px;
}

.dialog-button {
  font-size: 40px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
}

.run-item {
  min-height: 150px;
  background-size: cover;
  color: white;

  &__name {
    font-size: 20px;
  }
  &__km {
    font-size: 35px;
  }
}

::ng-deep {
  .run-progressbar.mat-progress-bar {
    height: 10px;
  }
}

@media (min-width: 768px) {
  .run-item {
    min-height: 300px;
  }
}
