<div class="container-flex app-container" [ngClass]="pageLoaded ? 'visible' : ''">
  <div class="container"  *ngIf="pageLoaded">
    <div class="row">
      <div class="col-12">
        <h1>Natalie läuft bis nach Berlin!</h1>
        <h2>
          Unterstütze Sie und laufe mit! Dein Lauf mit deiner
          KM-Zahl hoch.
        </h2>
      </div>

      <div class="col-12 col-sm-6">
        <div class="km-current d-flex align-items-center">
          <mat-spinner [diameter]="40" *ngIf="!kilometer"></mat-spinner>{{ kilometer | async}} km</div>
        <div class="km-left">{{ kilometerMax }} km</div>
        <div class="mt-3">
          <div>100 Tage verbleiben</div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="championlist mb-3" *ngFor="let champion of championlist;let i=index">
          <div class="p-2 d-flex flex-direction-coloumn align-items-center" >
            <div class="championlist__place mr-3">{{i+1}}</div>
            <div class="championlist__name">{{champion.name}} {{champion.vorname}}</div>
            <div class="championlist__km ml-auto mr-3">{{champion.km}}<span>km</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col text-center">
      <button id="add-card-button"
        mat-fab
        class="dialog-button"
        (click)="openDialog()"
        title="Lade deinen Lauf hoch">+
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" *ngIf="runsFirst">
      <ng-container *ngTemplateOutlet="runItem;context:{runsx: runsLeft}"></ng-container> 
    </div>

    <div class="col-sm-4 text-center map-container p-0">
      <img src="./assets/deutschlandkarte-lauf.png"  class="map-image"/>
      <div class="map-progress" [style.width]="mapKmWidth"></div>
    </div>

    <div class="col-sm-4" *ngIf="runsFirst">
      <ng-container *ngTemplateOutlet="runItem;context:{runsx: runsRight}"></ng-container> 
    </div>

    <div class="col-12" *ngIf="runsFirst">
      <div class="d-flex flex-wrap">
        <ng-container *ngTemplateOutlet="runItem;context:{runsx: runsBottom}"></ng-container> 
      </div>
    </div>

    <div class="col-12 text-center mt-3" *ngIf="showLoadMoreButton">
      <button id="load-more-runs-button"
      mat-raised-button	
      (click)="showMoreRuns()"
      title="Lade mehr">
      <div class="d-flex align-items-center">
        Mehr laden
        <mat-spinner [diameter]="20" class="ml-2" *ngIf="runsLoading"></mat-spinner>
      </div>
    </button>
      </div>
  </div>
</div>

<mat-spinner [diameter]="100" class="page-loading-spinner" *ngIf="!pageLoaded"></mat-spinner>

<ng-template #runItem let-runsx="runsx">
  <div class="run-item my-2 my-sm-4 mx-2 p-3" *ngFor="let run of runsx">
    <div class="run-item__name">
      {{ run.vorname }}
      {{ run.name }}
    </div>

    <div class="run-item__datum">{{ run.datum}}</div>
    <div class="run-item__km">{{ run.km }} km</div>
    <div class="run-item__ort">{{ run.ort }}</div>
  </div>
</ng-template>
