<div class="container">
  <div class="row">
    <div class="col">
      <h1>Natalie Rennt bis nach Berlin!</h1>
      <h2>
        Unterstütze Sie & laufe mit! Lade ein Bild von deinem Lauf und deiner
        km-Zahl hoch.
      </h2>
      <div class="text-center">
        {{ kilometer }}
        <div class="km-left">515 km</div>
        bis Berlin verbleiben
        <mat-progress-bar
          mode="determinate"
          [value]="kilometer"
        ></mat-progress-bar>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col text-center">
      <button mat-fab (click)="openDialog()">+</button>
    </div>
  </div>
  <div class="row px-3" *ngIf="runs">
    <div class="col-3 p-0" *ngFor="let run of runs">
      <div class="run-item d-flex align-items-end justify-content-between p-2">
        <span class="run-item__name">{{ run.name }}</span>
        <span class="run-item__km">{{ run.km }} km</span>
      </div>
    </div>
  </div>
</div>
